VITE_TORII_URL=https://taira.sora.org
VITE_SORASWAP_NAMESPACE=universal
VITE_CONNECT_CHAIN_ID=809574f5-fee7-5e69-bfcf-52451e42d50f
VITE_CONNECT_APP_NAME=SoraSwap
VITE_CONNECT_APP_URL=
VITE_TORII_API_VERSION=1.1
VITE_REFRESH_MS=15000
